<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin_SharadBookStore | Manage</title>
    @using Microsoft.AspNetCore.Http;
    @if (Context.Session.GetInt32("adid") == null)
    {
<script>
             window.location.href = '@Url.Action("Error","Order")';
</script>
       
    }
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="~/css/pagination.css">
    <!--Table-->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer2", {
	exportEnabled: true,
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Recomended Diet"
	},
	legend: {
		cursor: "pointer",
		itemclick: explodePie,
		verticalAlign: "center",
		horizontalAlign: "right"
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "{name}: <strong>{y}%</strong>",
		startAngle: -45,
		indexLabel: "{name} ({y}%)",
		indexLabelFontColor: "#12122B",
		indexLabelPlacement: "inside",
		indexLabelFontSize: 15,
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

function explodePie(e) {
	if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();
}

}
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        @using Microsoft.AspNetCore.Http;
                        @using Newtonsoft.Json;
                        @using ShradhaBookStore.Models;
                        @using Microsoft.AspNetCore.Mvc;
                        @{
                            var mess = Context.Session.GetString("Mess");
                            if (mess != null)
                            {
                                List<Messenger> DataMess = JsonConvert.DeserializeObject<List<Messenger>>(mess);
                                <div class="media">
                                    @foreach (var item in DataMess)
                                    {
                                        <span class="badge badge-danger navbar-badge">@item.Amount</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <span class="badge badge-danger navbar-badge">0</span>
                            }
                        }

                    </a>
                    <style>
                        .disabled {
                            pointer-events: none;
                            cursor: default;
                            opacity: 0.6;
                        }
                    </style>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @{
                            var messengerss = Context.Session.GetString("Mess");
                            string URSL = "#";
                            string disable = "disabled";
                            if (messengerss != null)
                            {
                                URSL = Url.Action("Index", "Manage_Oders", "Admin");
                                disable = "";
                            }
                        }
                        <a href="@URSL" class="dropdown-item @disable">
                            <!-- Message Start -->
                            @{
                                var messenger = Context.Session.GetString("Mess");
                                if (mess != null)
                                {
                                    List<Messenger> DataMess = JsonConvert.DeserializeObject<List<Messenger>>(messenger);
                                    <div class="media">
                                        @foreach (var item in DataMess)
                                        {
                                        <p>
                                            You have received @item.Amount new orders
                                        </p>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <p>You have received 0 new orders</p>
                                }
                            }


                            <!-- Message End -->
                        </a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Manage_Admin","Manage_Admin")" class="brand-link">
                <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin DashBoard</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Context.Session.GetString("adfullname")</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Manage_Users","Manage_Users","Admin")" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Manage Users
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Products
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Manage_Products","Manage_Products","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Products List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("CategoryPublisherList","Manage_Products","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category & Publisher List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Create_Product","Manage_Products","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Products Create</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Create_Category","Manage_Products","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category Create</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Create_Publisher","Manage_Products","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Publisher Create</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Orders
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Manage_Oders","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Orders List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OrderLog","Manage_Oders","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>OrderLog</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Shipping","Manage_Oders","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Shipping</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Manrage_Denine_Oders","Manage_Oders","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Denine Orders</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Order_Cancle","Manage_Oders","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order Have Been Cancle</p>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Feedback
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Manage_Feedback","Manage_Feedback","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Feedback List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Banner
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Banner_list","Banner","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Banner List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Add_Banner","Banner","Admin")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Banner</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a  href="@Url.Action("LogOut","Manage_Admin","Admin")" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Log Out
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0-rc
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
            });
        });
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
