@model ShradhaBookStore.Models.UserInfo
 @using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Change Password";
  
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto row">
            <div class="card col-lg-5 col-sm-12 mx-auto">
                <div class="card-header text-center">
                    <h3 class="card-title float-none">
                        Change Your Password
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ChangePass", "UserInfo", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                    <div> @Html.DisplayFor(m => m.UserID)</div>
                        <div class="form-group">
                            <label for="nPassword">Current Password:</label>
                            <span class="text text-danger">*</span>
                            <input class="form-control" type="password" name="PassWord" required />
                            <span class="error-msg">@ViewBag.Msg</span>
                        </div>

                        <div class="form-group">
                            <label for="nPassword">New Password:</label>
                            <span class="text text-danger">*</span>
                            <input class="form-control" type="password" name="npass" required/>
                            <span class="error-msg">@ViewBag.npass</span>
                        </div>

                        <div class="form-group">
                            <label for="cnPassword">Confirm New Password:</label>
                            <span class="text text-danger">*</span>
                            <input class="form-control" type="password" name="confnpass" re />
                            <span class="error-msg">@ViewBag.cnPass</span>
                      
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <input class="btn btn-primary" style=" background-color: #62ab00; border-color: #62ab00" type="submit" value="Update" onclick="return confirm('Are you sure?')" />
                        </div>
                    }
                    @if (ViewBag.Msg != null)
                    {
                        <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Msg");
                        };
                        </script>
                        <div>
                            <h3 style="color: #ee5b54;">@ViewBag.Msg</h3>
                        </div>

                        <div>
                            <a asp-controller="UserInfo" asp-action="Details" asp-route-id="@Context.Session.GetInt32("id")">Back to Details</a>
                        </div>

                    }
                </div>
            </div>


        </div>
    </div>
</div>


