@model ShradhaBookStore.Models.UserInfo

@{ ViewBag.Title = "Login"; }
@{ Layout = "~/Views/UserInfo/Layout/_Layout.cshtml"; }
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1 style="margin-left:60px">Login</h1>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "UserInfo", FormMethod.Post))
                {
    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Enter Your User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "badge badge-danger" })
                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PassWord)
                                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @placeholder = "Enter Your Password" })
                                        @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "badge badge-danger" })
                                    </div>
                                                    @if (ViewBag.Msg != null)
                                                    {
                                    <span class="badge badge-danger">@ViewBag.Msg</span>}
                                                                    <div class="form-group">
                                                                        <input type="submit" name="submit" class="btn btn-primary" style=" background-color: #62ab00; border-color: #62ab00" value="Login" />
                                                                    </div>}
                <div class="form-group">
                    <p class="margin-bottom-0" _msthash="748969" _msttexthash="1094275">
                        You don't have a registered
                        <a r class="btn-link-style btn-register" style="color: #000;text-decoration: underline;" _istranslated="1">@Html.ActionLink("account here", "Register", "UserInfo") </a>
                    </p>
                </div>
            </div>
            <div><a href="@Url.Action("Index","Home")">Back to home</a></div>
        </div>
    </div>

</div>
@Html.Raw(TempData["msg"])
