@model ShradhaBookStore.Models.RatingReview
@{
    ViewData["Title"] = "CreateView";
    RatingReview ra = ViewBag.rating;
}

<h2>CreateView</h2>
@using (Html.BeginForm("CreateView", "Home", FormMethod.Post))
{
    @Html.EditorFor(p => p.ProductCode, new { htmlAttributes = new { @class = "form-control", @Value = "BBBBBBB" } })
    @Html.EditorFor(p => p.UserId, new { htmlAttributes = new { @class = "form-control", @Value = 1 } })
<div class="rating-chooser">
    <p>Your rating</p>
    @Html.EditorFor(p => p.Rate, new { htmlAttributes = new {@id = "rating" } })
    @*<input id="rating" for="Rate" value="">*@
    <div class="rating">
        <i class="star fa fa-star" data-rating="5" style='order:5'></i>
        <i class="star fa fa-star" data-rating="4" style='order:4'></i>
        <i class="star fa fa-star" data-rating="3" style='order:3'></i>
        <i class="star fa fa-star" data-rating="2" style='order:2'></i>
        <i class="star fa fa-star" data-rating="1" style='order:1'></i>
    </div>
</div>
    @Html.EditorFor(p => p.Context)
    @Html.TextAreaFor(p => p.CreateAt)

    <input type="submit" value="Submit">
}

@if (ViewBag.rating != null)
{
    <span>UserId:</span>@ra.UserId
    <br />
    <span>ProductCode:</span>@ra.ProductCode
    <br />
    <span>Rate:</span>@ra.Rate
    <br />
    <span>Context:</span>@ra.Context
    <br />
    <span>Date:</span>@ra.CreateAt
}